script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' crossorigin='anonymous')
script(src="./js/owl.carousel.min.js")
script(src="./js/jquery-ui.min.js")
script(src="./js/jquery.ui.touch-punch.min.js")
script(src="./js/all.js")
