script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' crossorigin='anonymous')
script(src="./js/highlight.pack.js")
script(src="./js/TweenMax.min.js")
script(src="./js/ScrollMagic.js")
script(src="./js/animation.gsap.js")
script(src="./js/debug.addIndicators.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
script(src="./js/owl.carousel.min.js")
script(src="./js/jquery-ui.min.js")
script(src="./js/jquery.ui.touch-punch.min.js")
script(src="./js/sweetalert2.all.min.js")
script(src="./js/jquery-captcha.min.js")
script(src="./js/all.js")
