extend ../Layout.pug

//- block header
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article
    section.section01
      .wrapper
        figure.title
          img(src="./images/section01_title_01.png")
        .box.owl-carousel#carousel-box
          figure.pic
            img(src="./images/section01_pic_01.png")
          figure.pic
            img(src="./images/section01_pic_02.png")
          figure.pic
            img(src="./images/section01_pic_03.png")
    section.section02
      .wrapper
    section.section03
      .wrapper
        figure.title
          img(src="./images/section03_title_01.png")
        .container
          .circle
            .info
              .txt1 退休前
              .txt2 極小化
              .txt3 投資成本
          figure.arrow
            img(src="./images/section03_arrow.png")
          .box
            .item
              figure.pic
                img(src="./images/section03_pic_01.png")
              .txt 選對工具
            .item
              figure.pic
                img(src="./images/section03_pic_02.png")
              .txt 及早準備
            .item
              figure.pic
                img(src="./images/section03_pic_03.png")
              .txt 持之以恆
          figure.arrow
            img(src="./images/section03_arrow.png")
          .circle
            .info
              .txt1 退休後
              .txt2 極小化
              .txt3 投資風險


        
  

