extend ../Layout.pug

//- block header
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article
    section.section01
      .wrapper
        figure.title
          img(src="./images/section01_title_01.png")
        .box.owl-carousel#carousel-box
          figure.pic
            img(src="./images/section01_pic_01.png")
          figure.pic
            img(src="./images/section01_pic_02.png")
          figure.pic
            img(src="./images/section01_pic_03.png")
    section.section02
      .wrapper
    section.section03
      .wrapper
        figure.title
          img(src="./images/section03_title_01.png")
        .container
          .circle
            .info
              .txt1 退休前
              .txt2 極小化
              .txt3 投資成本
          figure.arrow
            img(src="./images/section03_arrow.png")
          .box
            .item
              figure.pic
                img(src="./images/section03_pic_01.png")
              .txt 選對工具
            .item
              figure.pic
                img(src="./images/section03_pic_02.png")
              .txt 及早準備
            .item
              figure.pic
                img(src="./images/section03_pic_03.png")
              .txt 持之以恆
          figure.arrow
            img(src="./images/section03_arrow.png")
          .circle
            .info
              .txt1 退休後
              .txt2 極小化
              .txt3 投資風險
    section.section04
      .wrapper
        #test
        input#amount(type="text")
        #test2
        input#amount2(type="text")
    section.section05
      .wrapper
        figure.title
          img(src="./images/section05_title_01.png")
        .form-box
          figure.sub-title
            img(src="./images/section05_title_02.png")
          .remind
            | 請留下您的聯絡資訊，
            br
            | 我們將於收到訊息後1-2個營業日內與您聯繫，謝謝！
          .row
            .row-label
              p 姓 名
            .row-content
              input(type="text")
          .row
            .row-label
              p 手機號碼/家用電話
            .row-content
              input(type="phone")
          .row
            .row-label
              p 是否已經是保誠保戶?
            .radio-box
              label
                input(type="radio")
                p 是
              label
                input(type="radio")
                p 否
            .row-content
              input(type="text")
          .row.align-center
            input(type="checkbox")
            p.txt
              | 我已閱讀並同意
              a(href="") 個人資料告知暨同意事項
          .row.align-center
            input(type="checkbox")
            p.txt
              | 我已確認以上資料正確無誤
          .btn 送出
    section.section06
      .wrapper
        figure.title
          img(src="./images/section06_title_01.png")
        .remind
          | 保誠用心傾聽你的需求，提供多元化的商品與服務，
          br
          | 無論健康保障或財富管理，讓你自主選擇想要的幸福。
        .box.owl-carousel#product-carousel
          .item
            p.txt 外幣分紅壽險
            figure.pic
              img(src="./images/section06_pic_01.png")
          .item
            p.txt 台幣分紅壽險
            figure.pic
              img(src="./images/section06_pic_02.png")
          .item
            p.txt 外幣投資型保險
            figure.pic
              img(src="./images/section06_pic_03.png")
          .item
            p.txt 台幣投資型保險
            figure.pic
              img(src="./images/section06_pic_04.png")
          .item
            p.txt 不分紅壽險
            figure.pic
              img(src="./images/section06_pic_05.png")
          .item
            p.txt 健康醫療險
            figure.pic
              img(src="./images/section06_pic_06.png")
          .item
            p.txt 意外傷害保險
            figure.pic
              img(src="./images/section06_pic_07.png")
        .nav-bar
          p#productLeftArrow <
          .now.num#productNowPage
          .page.num / 07
          p#productRightArrow >
        
          




