svg(xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 2200 2000', style='enable-background:new 0 0 2200 2000;', space='preserve')
  g
    g
      g
        path(d='M1601.71,871.47h-85.77c-4.71,0-8.53-3.82-8.53-8.53c0-4.71,3.82-8.53,8.53-8.53h85.77c4.71,0,8.53,3.82,8.53,8.53     C1610.24,867.65,1606.42,871.47,1601.71,871.47z')
      g
        path(d='M1573.12,900.06c-2.18,0-4.37-0.83-6.03-2.5c-3.33-3.33-3.33-8.73,0-12.06l22.56-22.56l-22.56-22.56     c-3.33-3.33-3.33-8.73,0-12.06c3.33-3.33,8.73-3.33,12.06,0l28.59,28.59c3.33,3.33,3.33,8.73,0,12.06l-28.59,28.59     C1577.49,899.23,1575.3,900.06,1573.12,900.06z')
    g
      path(d='M1558.83,959.19c-53.07,0-96.25-43.18-96.25-96.25c0-53.07,43.18-96.25,96.25-96.25s96.25,43.18,96.25,96.25    C1655.08,916.02,1611.9,959.19,1558.83,959.19z M1558.83,783.75c-43.67,0-79.2,35.53-79.2,79.19c0,43.67,35.53,79.19,79.2,79.19    c43.67,0,79.19-35.53,79.19-79.19C1638.02,819.27,1602.49,783.75,1558.83,783.75z')