doctype html
html(lang="zh-Hant")
  head
    include partials/Meta.pug
    include partials/CssLink.pug
  body
    include components/Header.pug
    block header
    block body
    block footer
    include components/Footer.pug
    include partials/JsSrc.pug


    